.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 600px;
  height: 600px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.input-container input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container button {
  padding: 8px 15px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.items-container {
  max-height: 200px;
  overflow-y: auto;
}

.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.item.completed {
  background-color: #cfcfcf;
  text-decoration: line-through;
  color: green;
}

.item input[type="checkbox"] {
  position: absolute;
  left: 5px;
}

.item button {
  padding: 3px 5px;
  border: none;
  background-color: #dc3545;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.trash-icon {
  width: 20px; /* Defina o tamanho da imagem conforme necessário */
  height: 20px; /* Defina o tamanho da imagem conforme necessário */
  margin-left: 10px; /* Adicionando margem para separar a imagem do texto */
  cursor: pointer;
}

.item span {
  margin-left: 25px; /* Adicionando espaço à esquerda do texto */
}

.toggle-dark-mode {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .container {
  background-color: #555;
}

.dark-mode .input-container input, .dark-mode .input-container button {
  background-color: #777;
  color: #fff;
}

.dark-mode .items-container {
  background-color: #666;
}

.dark-mode .item {
  background-color: #777;
  color: #fff;
}

.dark-mode .item.completed {
  background-color: #999;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
  color: #777;
  font-size: 12px;
}

.dark-mode .footer {
  color: #ccc;
}
